@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --white: #F5F5F5;
    --green: #7FD1AE;
}

body{
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
} 

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

nav{
    display: flex;
    flex-direction: row;
}

nav .nav-menu-icon{
    display: none;
}

nav .nav-items{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.brand{
    display: flex;
    flex: 2;
    font-size: 36px;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: row;
    height: 80vh;
    flex: 1;
}

.col{
    display: flex;
    flex: 0.5;
    min-height: 100;
}

.eye-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600;
}

.col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 800px){
    body{
        font-size: 16px;
    }

    nav .nav-items{
        display: none;
    }

    nav .nav-menu-icon{
        display: block;
        margin: auto;
    }

    nav .nav-menu-icon .i{
        font-size: 60px;
    }
}