@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


:root{
    --body-font-lg: 21px;
    --body-ff: 'Poppins';

    --brand-ff: 'Cookie';

    --quote--ff: 'Architects Daughter';

    --author-font-lg: 36px;
    --header-font-lg: 72px;


    --white: #F5F5F5;
    --green: #7FD1AE; 
}

body{
    padding: 0;
    margin: 0;
    font-family: var(--body-ff);
    background-color: var(--white);
}

a{
    text-decoration: none;
    color: black;
    margin: 2em;
    font-weight: 400;
}

header{
    width: 100vw;
}

ul{
    list-style-type: none;
}

.nav-items{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    padding: 1em;
}
.nav-button{
    display: none;
}

.title{
    font-size: var(--header-font-lg);
    font-family: var(--brand-ff);
    font-weight: 500;
    align-items: center;
}
.brand-name{
    font-size: var(--header-font-lg);
    font-family: var(--brand-ff);
    font-weight: 500;
    margin-left: 1em;
    margin-top: 1em;
}

main{
    width: 100vw;
}

.container{
    display: flex;
    flex-direction: row;
}
.col-1{
    display: flex;
    flex-direction: column;
    flex: 50vw;
}

.col-2{
    display: flex;
    flex: 50vw;
}

.quote-text{
    font-size: var(--body-font-lg);
    text-align: center;
    font-family: var(--quote--ff);
}

.quote-author{
    text-align: center;
    font-size: var(--author-font-lg);
    font-family: var(--brand-ff);
    font-weight: 500;
}

.blog-button{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: var(--body-font-lg);
    font-weight: bold;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    width: 60%;
    height: 8vh;
}

.col-2{
    display: flex;
    flex:40vw;
}
#eyes-img{
    width: 80%;
    object-fit: contain;
    opacity: 60%;
}

footer{
    width: 100vw;
}


@media screen and (max-width: 800px) {
    :root{
        --body-font-lg: 14px;
        --body-ff: 'Poppins';
    
        --header-font-lg: 45px;
        --author-font-lg: 24px;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .col-1{
        display: flex;
        order: 1;
        flex: 80vh;
    }
    .nav-items{
        display: none;
    }
    .nav-button{
        display: block;
        align-items: center;
        font-size: 30px;
        margin-left: 1rem;
        border: none;
        background-color: var(--white);
    }
    .nav-button:focus+.nav-items { 
        display: flex; 
        flex-direction: column;
        text-align: center;
    }
    .brand-name{
        display: none;
    }
    .col-2{
        display: flex;
        flex:10vh;
    }

    #eyes-img{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        object-fit: contain; 
        opacity: 60%;    
    }
    
    
}